@import "./icons/index.css";
@import "./userProfile.css";
@import "./logo.css";
@import "./nav.css";

.header {
  background-color: #343434;
}

.header,
.header > * {
  display: flex;
  height: 48px;
}
